<a routerLink="/claims">
  <button ly-button outlined color="primary">Go Back</button>
</a>
<h1 [lyTyp]="display1" class="mtm" color="offPrimary">
  Edit Claim
</h1>
<h1 [lyTyp]="display1">VIN: {{ vin }}</h1>
<div *ngIf="claim">
  <ly-tabs [alignTabs]="'stretch'">
    <!-- Vehicle -->
    <ly-tab>
      <button ly-tab-label>Vehicle Information</button>
      <app-edit-vehicle [claim]="claim" [vin]="vin"></app-edit-vehicle>
    </ly-tab>

    <!-- Files -->
    <ly-tab>
      <button ly-tab-label>Files on Claim</button>
      <app-edit-files [claim]="claim" [vin]="vin"></app-edit-files>
    </ly-tab>
  </ly-tabs>

  <div class="width-100">
    <a (click)="deleteClaim()" class="width-100">
      <button class="width-100" ly-button raised bg="warn">DELETE CLAIM</button>
    </a>
  </div>
</div>
