<h1 [lyTyp]="display1" class="mth" color="offPrimary">
  View Claims
</h1>
<ly-tabs [alignTabs]="'stretch'">
  <!--STATUS # 0-->
  <ly-tab>
    <button ly-tab-label>Awaiting Settlement Option</button>
    <ly-grid
      container
      *ngIf="sortClaims(0).length > 0; else noClaims"
      [spacing]="16"
    >
      <ly-paper
        [withClass]="classes.paper"
        [elevation]="4"
        style="width: 100%"
        outlined
      >
        <ly-grid item col="12" *ngFor="let claim of sortClaims(0)">
          <ly-grid container>
            <ly-grid item col="4" [lyTyp]="'title'">
              <a
                [withClass]="classes.claimLink"
                routerLink="/claims/{{ claim.vehicle.vin }}"
              >
                <p [lyTyp]="'headline'">{{ claim.vehicle.vin }}</p>
              </a>
            </ly-grid>
            <ly-grid item col="3" [lyTyp]="'title'"
              >Model: {{ claim.vehicle.model }}</ly-grid
            >
            <ly-grid item col="3" [lyTyp]="'title'"
              >Color: {{ claim.vehicle.color }}</ly-grid
            >
            <ly-grid item col="2" [lyTyp]="'title'"
              >Claim Status: {{ claim.status }}</ly-grid
            >
          </ly-grid>
          <hr />
        </ly-grid>
      </ly-paper>
    </ly-grid>
  </ly-tab>

  <!--STATUS # 1-->
  <ly-tab>
    <button ly-tab-label (click)="sortClaims(1)">Finalize Loss</button>
    <ly-grid
      container
      *ngIf="sortClaims(1).length > 0; else noClaims"
      [spacing]="16"
    >
      <ly-paper
        [withClass]="classes.paper"
        [elevation]="2"
        style="width: 100%"
        outlined
      >
        <ly-grid item [col]="12" *ngFor="let claim of sortClaims(1)">
          <ly-grid container>
            <ly-grid item [col]="3" [lyTyp]="'title'">
              <a
                [withClass]="classes.claimLink"
                routerLink="/claims/{{ claim.vehicle.vin }}"
              >
                <p [lyTyp]="'headline'">{{ claim.vehicle.vin }}</p>
              </a>
            </ly-grid>
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Model: {{ claim.vehicle.model }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Color: {{ claim.vehicle.color }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Claim Status: {{ claim.status }}</ly-grid
            >
          </ly-grid>
          <hr />
        </ly-grid>
      </ly-paper>
    </ly-grid>
  </ly-tab>

  <!--STATUS # 2-->
  <ly-tab>
    <button ly-tab-label (click)="sortClaims(2)">At Auction</button>
    <ly-grid
      container
      *ngIf="sortClaims(2).length > 0; else noClaims"
      [spacing]="16"
    >
      <ly-paper
        [withClass]="classes.paper"
        [elevation]="2"
        style="width: 100%"
        outlined
      >
        <ly-grid item [col]="12" *ngFor="let claim of sortClaims(2)">
          <ly-grid container>
            <ly-grid item [col]="3" [lyTyp]="'title'">
              <a
                [withClass]="classes.claimLink"
                routerLink="/claims/{{ claim.vehicle.vin }}"
              >
                <p [lyTyp]="'headline'">{{ claim.vehicle.vin }}</p>
              </a>
            </ly-grid>
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Model: {{ claim.vehicle.model }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Color: {{ claim.vehicle.color }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Claim Status: {{ claim.status }}</ly-grid
            >
          </ly-grid>
          <hr />
        </ly-grid>
      </ly-paper>
    </ly-grid>
  </ly-tab>

  <!--STATUS # 3-->
  <ly-tab>
    <button ly-tab-label (click)="sortClaims(3)">Claim Resolved</button>
    <ly-grid
      container
      *ngIf="sortClaims(3).length > 0; else noClaims"
      [spacing]="16"
    >
      <ly-paper
        [withClass]="classes.paper"
        [elevation]="2"
        style="width: 100%"
        outlined
      >
        <ly-grid item [col]="12" *ngFor="let claim of sortClaims(3)">
          <ly-grid container>
            <ly-grid item [col]="3" [lyTyp]="'title'">
              <a
                [withClass]="classes.claimLink"
                routerLink="/claims/{{ claim.vehicle.vin }}"
              >
                <p [lyTyp]="'headline'">{{ claim.vehicle.vin }}</p>
              </a>
            </ly-grid>
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Model: {{ claim.vehicle.model }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Color: {{ claim.vehicle.color }}</ly-grid
            >
            <ly-grid item [col]="3" [lyTyp]="'title'"
              >Claim Status: {{ claim.status }}</ly-grid
            >
          </ly-grid>
          <hr />
        </ly-grid>
      </ly-paper>
    </ly-grid>
  </ly-tab>
</ly-tabs>

<div>
  <ng-template #noClaims>
    <ly-paper [withClass]="classes.noClaims" [elevation]="2">
      <h3 [lyTyp]="'title'">No claims to view</h3>
    </ly-paper>
  </ng-template>

  <ng-template *ngIf="responseError">
    <ly-paper [withClass]="classes.noClaims" [elevation]="2">
      <h3 [lyTyp]="'title'">Error getting Claims!</h3>
      <p>{{ errorText }}</p>
    </ly-paper>
  </ng-template>
</div>
