html {
  height: auto;
}
.page {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 5rem;
}

.head {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.edit-claim-border {
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  border-radius: 25px;
}

// General Styles=
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-center {
  float: center !important;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.justify-left {
  justify-content: left !important;
}

.center-to-page {
  margin: auto;
}

.mls {
  margin-left: 4px !important;
}
.mlm {
  margin-left: 8px !important;
}
.mll {
  margin-left: 16px !important;
}

.mtn {
  margin-top: 0px !important;
}
.mts {
  margin-top: 4px !important;
}
.mtm {
  margin-top: 8px !important;
}
.mtl {
  margin-top: 16px !important;
}
.mth {
  margin-top: 32px !important;
}

.mrs {
  margin-right: 4px !important;
}
.mrm {
  margin-right: 8px !important;
}
.mrl {
  margin-right: 16px !important;
}

.mbs {
  margin-bottom: 4px !important;
}
.mbm {
  margin-bottom: 8px !important;
}
.mbl {
  margin-bottom: 16px !important;
}
.mbh {
  margin-bottom: 32px !important;
}

.pls {
  padding-left: 4px !important;
}

.pbs {
  padding-bottom: 4px !important;
}

.pbm {
  padding-bottom: 8px !important;
}

.pbl {
  padding-bottom: 16px !important;
}

.pbh {
  padding-bottom: 32px !important;
}

.auto-height {
  height: auto !important;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75% !important;
}

.width-50 {
  width: 48%;
}

.auto-margin {
  margin: auto !important;
}

.margin-zero {
  margin: 0 !important;
}

.header-height {
  height: 100px !important;
}

// Cards
.form-card {
  max-width: 600px;
}

// Logo
.homepage-logo {
  max-width: 20%;
  min-width: 250px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  padding: 15px;
}
