@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import './sass/main';
// General Styles=
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-center {
  float: center !important;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.justify-left {
  justify-content: left !important;
}

.center-to-page {
  margin: auto;
}

.auto-height {
  height: auto !important;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.header-height {
  height: 200px;
}

.max-height {
  height: 1000px;
}

// Cards
.form-card {
  max-width: 600px;
}

img {
  padding: 15px;
}
