<div style="height:100%">
  <ly-card>
    <ly-card-content>
      <div class="mrl mll">
        <ly-grid container spacing="16 8@XSmall">
          <ly-grid item col="12">
            <h1 lyTyp="headline" gutterBottom>Files On Claim</h1>
            <hr />
          </ly-grid>
        </ly-grid>
        <div *ngFor="let file of claim.files">
          <ly-grid
            container
            spacing="16 8@XSmall"
            class="mbl edit-file--outer-border"
          >
            <ly-grid item col="8 12@XSmall">
              <div class="file-name tooltip height-100 width-100">
                <span class="tooltiptext">Edit file name</span>
                <h2 class="margin-zero" lyTyp="title" gutterBottom>
                  {{ file.name }}
                </h2>
              </div>
            </ly-grid>
            <ly-grid item col="2" *ngIf="file.status === 0">
              <button
                ly-button
                raised
                bg="primary"
                (click)="downloadFile(file.hash, file.name)"
                class="width-100"
              >
                Download
              </button>
            </ly-grid>
            <ly-grid item col="2" *ngIf="file.status === 0">
              <button
                ly-button
                raised
                bg="secondary"
                (click)="archiveFile(file.name)"
                class="width-100"
              >
                Archive
              </button>
            </ly-grid>
            <ly-grid item col="6" *ngIf="file.status === 1">
              <button
                ly-button
                raised
                outlined
                color="primary"
                (click)="restoreFile(file.name)"
                class="width-100"
              >
                Restore
              </button>
            </ly-grid>
          </ly-grid>
        </div>
        <ly-grid container spacing="16 8@XSmall">
          <ly-grid item col="8">
            <div class="file-input-wrapper width-100">
              <button ly-button raised bg="secondary" class="width-100">
                Select Files to Upload
              </button>
              <input
                type="file"
                (change)="updateFileList($event)"
                multiple="multiple"
              />
            </div>
          </ly-grid>
          <ly-grid item col="4">
            <a (click)="submitFiles()">
              <button ly-button raised bg="secondary" class="width-100">
                Upload Files
              </button>
            </a>
          </ly-grid>
        </ly-grid>
        <ly-grid container spacing="16 8@XSmall" *ngIf="files">
          <ly-grid item col="12" *ngFor="let file of files" class="mbm">
            <span>File Name: {{ file.name }}</span
            ><br />
            <span>File Size (in bytes): {{ file.size }}</span>
            <hr />
          </ly-grid>
        </ly-grid>
      </div>
    </ly-card-content>
  </ly-card>
</div>
