<div class="center-text">
    <h1 lyTyp="display2" gutterBottom>Ford - Total Loss Process Homepage</h1>

    <h2 lyTyp="display2" gutterBottom *ngIf="isAuthenticated()">You are logged in!</h2>
    <h2 lyTyp="display2" gutterBottom *ngIf="!isAuthenticated()">You are not logged in!</h2>
    
    
    <button ly-button bg = "primary" raised (click)="get()"> Primary Color (GET) </button>
    <button ly-button bg = "accent" raised (click)="post()"> Accent Color (POST)</button>
    <button ly-button bg = "warn" raised (click)="put()"> Warn Color (PUT)</button>
    <button ly-button bg = "secondary" raised (click)="delete()"> Secondary Color (DELETE)</button>


</div>
