<div class="center-text">
  <h2 lyTyp="display2" gutterBottom *ngIf="auth.loggedIn">
    Hello, {{ (auth.userProfile) ? auth.userProfile.name : 'friend'  }}!
  </h2>

  <button ly-button raised outlined color="primary" size="large" lyType="title" class="width-100 mth mbh" routerLink="/claims/new"> Start a New Claim </button>
<!--
  <button ly-button raised outlined color="primary" class="width-100">Primary</button><br>
  <button ly-button raised outlined color="accent" class="width-100">Accent</button><br>
  <button ly-button raised outlined color="warn" class="width-100">Warn</button><br>
  <button ly-button raised outlined color="secondary" class="width-100">Secondary</button><br>
  <br>
  <button ly-button raised color="primary" class="width-100">Primary</button><br>
  <button ly-button raised color="accent" class="width-100">Accent</button><br>
  <button ly-button raised color="warn" class="width-100">Warn</button><br>
  <button ly-button raised color="secondary" class="width-100">Secondary</button><br>
  <br>
-->


</div>
