<div *ngIf="claim" class="width-100">
  <h1>VIN: {{ claim.vehicle.vin }}</h1>
  <mat-list class="vehicle-information mbl">
    <h2 class="mll">Vehicle Information</h2>
    <form [formGroup]="vehicleForm">
      <div class="content-wrapper">
        <div class="row">
          <div class="column">
            <div class="one-column">
              <mat-list-item>
                <p class="label-text">Miles:</p>
                <span class="mls">
                  <input
                    type="text"
                    class="raw-text-input editable-text"
                    [value]="claim.vehicle.miles"
                    formControlName="miles"
                  />
                </span>
              </mat-list-item>
              <mat-list-item>
                <p class="label-text">Model:</p>
                <span class="mls" md-colors="{color: 'primary'}">
                  {{ vehicleData.model }}
                </span>
              </mat-list-item>
              <mat-list-item>
                <p class="label-text">Model Year:</p>
                <span class="mls">
                  {{ vehicleData.modelYear }}
                </span>
              </mat-list-item>
            </div>
          </div>
          <div class="column">
            <div class="two-column">
              <mat-list-item>
                <p class="label-text">Vehicle Location:</p>
                <span class="mls">
                  <input
                    type="text"
                    class="raw-text-input editable-text"
                    [value]="claim.vehicle.location"
                    formControlName="location"
                  />
                </span>
              </mat-list-item>
              <mat-list-item>
                <p class="label-text">Base Price:</p>
                <span class="mls">
                  {{ vehicleData.basePrice }}
                </span>
              </mat-list-item>
              <mat-list-item>
                <span class="mls">
                  <button
                    mat-raised-button
                    color="accent"
                    [disabled]="!canSubmitVehicleChanges"
                    (click)="submitVehicleEdit()"
                  >
                    Submit Changes
                  </button>
                </span>
              </mat-list-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-list>
  <mat-list class="vehicle-information mbl pbm">
    <h2 class="mll">Files on Claim</h2>
    <app-files
      [claim]="claim"
      [vin]="claim.vehicle.vin"
      (updatedClaim)="receiveNewClaim($event)"
    ></app-files>
    <div *ngIf="claim.files.length > 0">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 width-100 mtl"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef>File Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="accent"
              (click)="openDialog(element)"
            >
              Edit File
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-list>
  <mat-list class="vehicle-information mbl">
    <h2 class="mll">Insurer Information</h2>
    <form [formGroup]="insurerForm">
      <div class="content-wrapper">
        <div class="row">
          <div class="column">
            <div class="one-column">
              <mat-list-item>
                <p class="label-text">Insurance Provider:</p>
                <span class="mls">
                  <input
                    type="text"
                    class="raw-text-input editable-text"
                    [value]="claim.insurer.name"
                    formControlName="insurerName"
                  />
                </span>
              </mat-list-item>
              <mat-list-item>
                <p class="label-text">Gap Coverage:</p>
                <span class="mls">
                  <input
                    type="text"
                    class="raw-text-input editable-text"
                    [value]="claim.insurer.has_gap ? 'Yes' : 'No'"
                    formControlName="gap"
                  />
                </span>
              </mat-list-item>
              <mat-list-item *ngIf="successfulInsurerEdit">
                <p style="color:green">Insurer Update Success</p>
              </mat-list-item>
            </div>
          </div>
          <div class="column">
            <div class="two-column">
              <mat-list-item>
                <p class="label-text">Deductible Amount ($):</p>
                <span class="mls">
                  <input
                    type="text"
                    class="raw-text-input editable-text"
                    [value]="claim.insurer.deductible"
                    formControlName="deductible"
                  />
                </span>
              </mat-list-item>
              <mat-list-item>
                <span class="mls">
                  <button
                    mat-raised-button
                    color="accent"
                    [disabled]="!canSubmitInsurerChanges"
                    (click)="submitInsurerEdit()"
                  >
                    Submit Changes
                  </button>
                </span>
              </mat-list-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-list>
  <mat-list class="vehicle-information mbl">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <a class="width-50">
          <button
            mat-raised-button
            color="accent"
            class="width-100"
            (click)="claimBackward()"
            [disabled]="claim.status === 0"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a (click)="deleteClaim()" class="width-50">
          <button mat-raised-button color="warn" class="width-100">
            <mat-icon>cancel</mat-icon>
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="width-50">
          <button
            mat-raised-button
            color="accent"
            class="width-100"
            (click)="claimForward()"
            [disabled]="claim.status === 3"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-list>
</div>
