[contenteditable]:focus {
  outline: 0px solid transparent;
  border-bottom: 2px solid darkgray;
}

.file-table {
  width: 98%;
}

.editable-text:hover {
  background: rgba(211, 211, 211, 0.6);
  cursor: pointer;
}
