<div class="mtl">
  <div class="center-to-page add-view-button">
    <a routerLink="/claims/new">
      <button mat-raised-button color="accent" class="width-100 ptm pbm">
        Create New Claim
      </button>
    </a>
  </div>
  <mat-form-field class="width-50 mth">
    <input
      matInput
      (keyup)="applyVinFilter($event.target.value)"
      placeholder="Filter by VIN"
    />
  </mat-form-field>
  <mat-form-field class="width-50">
    <mat-select
      placeholder="Claim Status"
      (selectionChange)="sortClaims($event.value)"
      disableOptionCentering
      [value]="0"
    >
      <mat-option [value]="0">0 - Awaiting Settlement Option</mat-option>
      <mat-option [value]="1">1 - Finalize Loss</mat-option>
      <mat-option [value]="2">2 - At Auction</mat-option>
      <mat-option [value]="3">3 - Claim Resolved</mat-option>
    </mat-select>
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    matSort
    class="mat-elevation-z3"
  >
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef>VIN</th>
      <td
        mat-cell
        *matCellDef="let element"
        [class.big-and-bold]="element == expandedElement"
      >
        {{ element.vehicle.vin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="insuranceName">
      <th mat-header-cell *matHeaderCellDef>
        Insurance Company
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.insurer.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gap">
      <th mat-header-cell *matHeaderCellDef>GAP</th>
      <td mat-cell *matCellDef="let element">
        {{ element.insurer.has_gap ? 'Yes' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.modified | date: 'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.created | date: 'short' }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail width-100"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="width-100">
            <mat-list class="width-100" style="padding-top: 0;">
              <div class="content-wrapper">
                <div class="row width-100">
                  <div class="one-column left-expand">
                    <mat-list-item>
                      <a routerLink="/claims/{{ element.vehicle.vin }}">
                        <button mat-raised-button color="accent">
                          Edit Claim
                        </button>
                      </a>
                    </mat-list-item>
                  </div>

                  <div class="one-column left-expand">
                    <mat-list-item>
                      <p class="label-text" style="font-weight: bolder">
                        Miles: {{ element.vehicle.miles }}
                      </p>
                    </mat-list-item>
                  </div>

                  <div class="one-column left-expand">
                    <mat-list-item>
                      <p class="label-text">
                        Vehicle Location: {{ element.vehicle.location }}
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </div>
            </mat-list>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      [class.example-expanded-row]="expandedElement === element"
      class="hover-row"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
