<ly-card>
  <ly-card-content>
    <h2 lyTyp="headline" gutterBottom>
      View and edit your vehicle information.
    </h2>
    <hr />
    <div [formGroup]="vehicleForm">
      <ly-grid container spacing="16 8@XSmall">
        <ly-grid item col="12">
          <h1 lyTyp="display1" color="offPrimary">Model</h1>
          <h1 lyTyp="headline" *ngIf="!isEditing">{{ claim.vehicle.model }}</h1>
          <ly-field
            *ngIf="isEditing"
            fullWidth
            [appearance]="appearance.value"
            class="mtn"
          >
            <input
              #_input
              lyNativeControl
              formControlName="model"
              type="text"
            />
            <span style="color:orangered">Required</span>
          </ly-field>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1 lyTyp="display1" color="offPrimary">Year</h1>
          <h1 lyTyp="headline" *ngIf="!isEditing">{{ claim.vehicle.year }}</h1>
          <ly-field
            *ngIf="isEditing"
            fullWidth
            [appearance]="appearance.value"
            class="mtn"
          >
            <input #_input lyNativeControl formControlName="year" type="text" />
            <span style="color:orangered">Required</span>
          </ly-field>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1 lyTyp="display1" color="offPrimary">Color</h1>
          <h1 lyTyp="headline" *ngIf="!isEditing">{{ claim.vehicle.color }}</h1>
          <ly-field
            *ngIf="isEditing"
            fullWidth
            [appearance]="appearance.value"
            class="mtn"
          >
            <input
              #_input
              lyNativeControl
              formControlName="color"
              type="text"
            />
          </ly-field>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1 lyTyp="display1" color="offPrimary">ACV</h1>
          <h1 lyTyp="headline">COMING SOON</h1>
          <!-- <ly-field *ngIf="isEditing" fullWidth [appearance]="appearance.value" class="mtn">
            <input
            #_input
            lyNativeControl
            formControlName="acv"
            type="text"
            />
          </ly-field> -->
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1 lyTyp="display1" color="offPrimary">Mileage</h1>
          <h1 lyTyp="headline" *ngIf="!isEditing">{{ claim.vehicle.miles }}</h1>
          <ly-field
            *ngIf="isEditing"
            fullWidth
            [appearance]="appearance.value"
            class="mtn"
          >
            <input
              #_input
              lyNativeControl
              formControlName="miles"
              type="text"
            />
          </ly-field>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12" *ngIf="isEditing">
          <a (click)="submitClaimEdit()">
            <button
              ly-button
              bg="primary"
              raised
              class="width-100 edit-vehicle-button"
            >
              Submit Edits
            </button>
          </a>
        </ly-grid>
        <ly-grid item col="12">
          <a (click)="toggleEditMode()">
            <button
              ly-button
              outlined
              color="primary"
              class="width-100 edit-vehicle-button"
            >
              <span *ngIf="!isEditing">Edit Vehicle</span>
              <span *ngIf="isEditing">Stop Editing</span>
            </button>
          </a>
        </ly-grid>
      </ly-grid>
    </div>
  </ly-card-content>
</ly-card>
