//Keeping in case we want to switch to logos later
.logo-width {
  // Logo
  width: 200px;
  float: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 14px;
}

.header-text {
  width: 200px;
  float: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  vertical-align: middle;
  text-align: center;
}

.header-spacer {
  flex: 1 1 auto;
}
