<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button (click)="themeButton()">
      Change Theme
    </button>
    <span class="header-spacer"></span>
    <h1 class="header-text pbm">
      Insurance Viewer
    </h1>
    <span class="header-spacer"></span>
    <button mat-button *ngIf="auth.isLoggedIn" (click)="auth.logout()">
      Log Out
    </button>
    <button mat-button *ngIf="!auth.isLoggedIn" (click)="auth.login()">
      Log In
    </button>
    <button mat-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
