@import '~@angular/material/theming';

@include mat-core();

$tlp-light-primary: mat-palette($mat-blue, 900);
$tlp-light-accent: mat-palette($mat-blue, 800);
$tlp-light-theme: mat-light-theme($tlp-light-primary, $tlp-light-accent);
@include angular-material-theme($tlp-light-theme);

$tlp-dark-primary: mat-palette($mat-blue, 900);
$tlp-dark-accent: mat-palette($mat-blue, 700);
$tlp-dark-background-color: map_get($mat-blue-grey, 900);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($tlp-dark-primary, $tlp-dark-accent);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $tlp-dark-background-color,
  )
);
$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.alternative {
  @include angular-material-theme($theme);
}
