@import '~@blueprintjs/core/lib/scss/variables';

.main {
  display: grid;
  gap: 20px;
}

.title {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

.card {
  background-color: $light-gray3;

  @at-root :global(.bp3-dark) & {
    background-color: $dark-gray3;
  }
}
