<header class="head mbm">
  <ly-toolbar
    position="relative"
    bg="primary"
    [elevation]="5"
    class="header-height"
  >
    <a routerLink="/home">
      <img
        src="../../assets/logos/ford-logo.png"
        alt="Logo"
        class="center-to-page width-100 homepage-logo mbs"
      />
    </a>
    <ly-grid container [spacing]="6">
      <ly-grid item col>
        <button
          ly-button
          bg="primary"
          size="large"
          [lyMenuTriggerFor]="menu"
          class="float-left"
          appearance="miniFab"
        >
          <ly-icon class="menu-button">menu</ly-icon>
        </button>
        <ng-template #menu let-M>
          <ly-menu [ref]="M">
            <button
              class="justify-left"
              ly-button
              size="large"
              ly-menu-item
              routerLink="/home"
            >
              <span>Home</span>
            </button>
            <button
              class="justify-left"
              ly-button
              size="large"
              ly-menu-item
              routerLink="/claims/new"
            >
              <span>New Claim</span>
            </button>
            <button
              class="justify-left"
              ly-button
              size="large"
              ly-menu-item
              routerLink="/claims"
            >
              <span>View Claims</span>
            </button>
          </ly-menu>
        </ng-template>

        <button
          style="font-size: large"
          ly-button
          color="accent"
          class="mll float-right"
          *ngIf="auth.isLoggedIn"
          (click)="auth.logout()"
        >
          Log Out
        </button>
        <button
          style="font-size: large"
          ly-button
          color="accent"
          class="mll float-right"
          *ngIf="!auth.isLoggedIn"
          (click)="auth.login()"
        >
          Log In
        </button>
      </ly-grid>
    </ly-grid>
  </ly-toolbar>
</header>
