/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: auto;
}
.page {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 25px;
}

.head {
  max-width: 1000px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  position: fixed;
  bottom: 0;
  max-width: 1000px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

// Color Schemes
.ford-gray {
  background-color: #6f777e !important;
}


// General Styles

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.justify-left {
  justify-content: left !important;
}

.center-to-page {
  margin: auto;
}

.mls {
  margin-left: 4px !important;
}
.mlm {
  margin-left: 8px !important;
}
.mll {
  margin-left: 16px !important;
}

.mtn {
  margin-top: 0px !important;
}
.mts {
  margin-top: 4px !important;
}
.mtm {
  margin-top: 8px !important;
}
.mtl {
  margin-top: 16px !important;
}
.mth {
  margin-top: 32px !important;
}

.mbs {
  margin-bottom: 4px !important;
}
.mbm {
  margin-bottom: 8px !important;
}
.mbl {
  margin-bottom: 16px !important;
}
.mbh {
  margin-bottom: 32px !important;
}

.pls {
  padding-left: 4px !important;
}

.auto-height {
  height: auto !important;
}

.width-100 {
  width: 100%;
}

// Cards
.form-card {
  max-width: 600px;
}

// Logo
.homepage-logo {
  max-width: 15%;
}
