/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: auto;
}
.page {
  max-width: 1000px;
  margin: auto;
}


// General Styles

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.mls {
  margin-left: 4px !important;
}