<h1 [lyTyp]="display1" class="mtm" color="offPrimary">
  Edit Claim
</h1>
<h1 [lyTyp]="display1">VIN: {{ vin }}</h1>
<div *ngIf="claim">
  <ly-tabs [alignTabs]="'stretch'">
    <!-- Vehicle -->
    <ly-tab>
      <button ly-tab-label>Vehicle Information</button>
      <app-edit-vehicle [claim]="claim" [vin]="vin"></app-edit-vehicle>
    </ly-tab>

    <!-- Files -->
    <ly-tab>
      <button ly-tab-label>Files on Claim</button>
      <app-edit-files [claim]="claim" [vin]="vin"></app-edit-files>
    </ly-tab>
  </ly-tabs>

  <div class="width-100">
    <ly-grid container item [spacing]="16">
      <ly-grid item [col]="3">
        <a (click)="editClaim(claim.status, -1)" class="width-100">
          <button class="width-100" ly-button raised bg="accent">
            Send Back
          </button>
        </a>
      </ly-grid>
      <ly-grid item col>
        <a (click)="deleteClaim()" class="width-100">
          <button class="width-100" ly-button outlined color="warn">
            Delete Claim
          </button>
        </a>
      </ly-grid>
      <ly-grid item [col]="3">
        <a (click)="editClaim(claim.status, 1)" class="width-100">
          <button class="width-100" ly-button raised bg="accent">
            Send Forward
          </button>
        </a>
      </ly-grid>
    </ly-grid>
  </div>
</div>
