<ly-card>
  <ly-card-content>
    <h2 lyTyp="headline" gutterBottom>
      View and edit your vehicle information.
    </h2>
    <hr />
    <div [formGroup]="vehicleForm">
      <ly-grid container spacing="16 8@XSmall">
        <ly-grid item col="12">
          <h1
            lyTyp="display1"
            color="offPrimary"
            class="center-text edit-claim-border width-75 auto-margin"
          >
            Model
          </h1>
          <h1 lyTyp="headline" *ngIf="!isEditing" class="center-text">
            {{ claim.vehicle.model }}
          </h1>
          <div class="auto-margin center-text width-75">
            <ly-field
              *ngIf="isEditing"
              fullWidth
              [appearance]="appearance.value"
              class="mts mbn"
            >
              <input
                #_input
                lyNativeControl
                formControlName="model"
                type="text"
                class="center-text"
              />
              <ly-hint
                ><span *ngIf="isEditing" style="color:orangered;"
                  >Required</span
                ></ly-hint
              >
            </ly-field>
          </div>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1
            lyTyp="display1"
            color="offPrimary"
            class="center-text edit-claim-border width-75 auto-margin"
          >
            Year
          </h1>
          <h1 lyTyp="headline" *ngIf="!isEditing" class="center-text">
            {{ claim.vehicle.year }}
          </h1>
          <div class="auto-margin center-text width-75">
            <ly-field
              *ngIf="isEditing"
              fullWidth
              [appearance]="appearance.value"
              class="mts mbn"
            >
              <input
                #_input
                lyNativeControl
                formControlName="year"
                type="text"
                class="center-text"
              />
              <ly-hint
                ><span *ngIf="isEditing" style="color:orangered;"
                  >Required</span
                ></ly-hint
              >
            </ly-field>
          </div>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1
            lyTyp="display1"
            color="offPrimary"
            class="center-text edit-claim-border width-75 auto-margin"
          >
            Color
          </h1>
          <h1 lyTyp="headline" *ngIf="!isEditing" class="center-text">
            {{ claim.vehicle.color }}
          </h1>
          <div class="auto-margin center-text width-75">
            <ly-field
              *ngIf="isEditing"
              fullWidth
              [appearance]="appearance.value"
              class="mts mbn"
            >
              <input
                #_input
                lyNativeControl
                formControlName="color"
                type="text"
                class="center-text"
              />
            </ly-field>
          </div>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <div class="auto-margin">
            <h1
              lyTyp="display1"
              color="offPrimary"
              class="center-text edit-claim-border width-75 auto-margin"
            >
              ACV
            </h1>
          </div>
          <h1 lyTyp="headline" class="center-text">COMING SOON</h1>
          <!-- <ly-field *ngIf="isEditing" fullWidth [appearance]="appearance.value" class="mtn">
            <input
            #_input
            lyNativeControl
            formControlName="acv"
            type="text"
            />
          </ly-field> -->
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12">
          <h1
            lyTyp="display1"
            color="offPrimary"
            class="center-text edit-claim-border width-75 auto-margin"
          >
            Mileage
          </h1>
          <h1 lyTyp="headline" *ngIf="!isEditing" class="center-text">
            {{ claim.vehicle.miles }}
          </h1>
          <div class="auto-margin center-text width-75">
            <ly-field
              *ngIf="isEditing"
              fullWidth
              [appearance]="appearance.value"
              class="mts mbn"
            >
              <input
                #_input
                lyNativeControl
                formControlName="miles"
                type="text"
                class="center-text"
              />
            </ly-field>
          </div>
        </ly-grid>
        <hr *ngIf="!isEditing" />
        <ly-grid item col="12" *ngIf="isEditing">
          <a (click)="submitClaimEdit()">
            <button
              ly-button
              bg="primary"
              raised
              class="width-100 edit-vehicle-button"
            >
              Submit Edits
            </button>
          </a>
        </ly-grid>
        <ly-grid item col="12">
          <a (click)="toggleEditMode()">
            <button
              ly-button
              outlined
              color="primary"
              class="width-100 edit-vehicle-button"
            >
              <span *ngIf="!isEditing">Edit Vehicle</span>
              <span *ngIf="isEditing">Stop Editing</span>
            </button>
          </a>
        </ly-grid>
      </ly-grid>
    </div>
  </ly-card-content>
</ly-card>
