<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Upload Files
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="upload-boxes">
      <input
        type="file"
        (change)="updateFileList($event)"
        accept="application/pdf,image/*"
        [multiple]="selected && selected === 'NONE' ? 'multiple' : ''"
        id="file-upload"
      />
      <div
        (dragover)="onDrag($event)"
        (drop)="onDrop($event)"
        class="custom-file-upload"
      >
        <label for="file-upload" class="file-upload-label">
          Upload Files - click to select, or drag & drop
        </label>
      </div>
      <button
        mat-raised-button
        color="accent"
        (click)="submitFiles(selected ? selected : 'NONE')"
        class="mtl float-right"
        [disabled]="urls.length === 0 || !selected"
      >
        Submit Files
      </button>
      <button
        mat-raised-button
        (click)="cancelUpload()"
        class="mtl mrl float-right"
        *ngIf="urls.length > 0 && selected"
      >
        Cancel Upload
      </button>
      <div class="float-right mrl mtm">
        <mat-form-field>
          <mat-label>File Category</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="NONE">Miscellaneous</mat-option>
            <mat-option value="POA">Power Of Attorney</mat-option>
            <mat-option value="ODS">Odometer Disclosure Statement</mat-option>
            <mat-option value="POLICE">Police Report</mat-option>
            <mat-option value="SETTLEMENT">Settlement Offer</mat-option>
            <mat-option value="LOG">Letter Of Guarantee</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="fileList.length > 0" class="mll">
        <div *ngFor="let file of fileList" class="mtm">
          <span class="float-left">File Name: {{ file.name }}</span
          ><br />
        </div>
      </div>

      <ng-container *ngIf="urls.length > 0 && selected !== 'NONE'">
        <div *ngIf="!isPdf && selected" class="thumbnail">
          <img [src]="urls[0]" class="file-preview" />
        </div>
        <div *ngIf="isPdf && selected" class="thumbnail">
          <object [data]="pdfFile" type="application/pdf">
            <embed [src]="pdfFile" type="application/pdf" />
          </object>
          <pdf-viewer
            [src]="urls[0]"
            [original-size]="false"
            [show-all]="false"
            [stick-to-page]="true"
            class="file-preview"
          ></pdf-viewer>
        </div>
      </ng-container>
    </div>
  </mat-expansion-panel>
</mat-accordion>
