input[type='file'] {
  display: none;
}

.upload-boxes {
  text-align: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 5rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  width: 14rem;
  text-align: center;
  line-height: 5rem;

  margin-left: 1rem;
  margin-right: 4rem;
  margin-top: 2rem;

  @media all and (max-width: 660px) {
    margin-right: 0;
  }
}
