<div *ngIf="claim">
  <div class="mtl">
    <ly-paper elevation="4">
      <h1 [lyTyp]="'display2'" class="mbs">{{ claim.vehicle.vin }}</h1>
      <hr>

      <ly-grid container spacing="16 8@XSmall">
        <ly-grid item col="4 12@XSmall">{{ claim.vehicle.color }}</ly-grid>
        <ly-grid item col="4 12@XSmall">test</ly-grid>
        <ly-grid item col="4 12@XSmall">test</ly-grid>
      </ly-grid>
    </ly-paper>
  </div>

  <div class="mth">
    <ly-paper elevation="4">
      <form (ngSubmit)="submitFiles()">
        <input type="file" (change)="setFiles($event)" multiple="multiple"/>

        <button ly-button
          bg="primary"
          raised
          type="submit"
          >Submit</button>
      </form>
    </ly-paper>
  </div>
</div>
