<div class="mtl">
  <ly-paper elevation="4">
    

    <ly-grid container spacing="16 8@XSmall">
      <ly-grid item col="10 12@XSmall">
        <h1 [lyTyp]="'display2'" class="mbs">{{ claim.vehicle.vin }}</h1>
      </ly-grid>
      <ly-grid item col="2 12@XSmall">
          <svg aria-hidden="true" style="width: 50px; height: 50px; float: left;" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></path></svg>
      </ly-grid>
    </ly-grid>
    <hr>
    <ly-grid container spacing="16 8@XSmall">
      <ly-grid item col="4 12@XSmall">test</ly-grid>
      <ly-grid item col="4 12@XSmall">test</ly-grid>
      <ly-grid item col="4 12@XSmall">test</ly-grid>
    </ly-grid>
  </ly-paper>
</div>

<div class="mth">
  <ly-paper elevation="4">
    <form (ngSubmit)="submitFiles()">
      <input type="file" (change)="setFiles($event)" multiple="multiple"/>

      <button ly-button
        bg="primary"
        raised
        type="submit"
        >Submit</button>
    </form>
  </ly-paper>
</div>
