.container{
    height: 100%;
    
    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        direction: rtl;

        .theme-button{
            align-content: right;
        }
        
    }
}

